@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

/* Global style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-light-grey-color: #dbdbdb;
    --main-dark-grey-color: #636363;
    --main-transition: 0.6s;
}


/* Header style */

a {
    text-decoration: none;
    color: var(--main-dark-color);
    font-size: 14px;
    margin: 0 4px;
}

li {
    padding: 12px 16px 14px;
    list-style: none;
    border-bottom: 2px solid white;
}

li:hover {
    background-color: rgb(252, 252, 252);
    border-bottom: 2px solid var(--main-dark-color);
}

li:hover :last-child {
    transform: rotate(180deg);
    transition: var(--main-transition);
}

#service {
    padding-top: 0;
    padding-bottom: 0;
}

.sublinks {
    display: flex;
}

.show-sublinks {
    visibility: visible;
}

.line {
    display: none;
}

@media screen and (max-width:1024px) {
    nav {
        width: 340px;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        background-color: white;
        position: fixed;
        left: -100vw;
        transition: 0.3s;
    }
    .active {
        left: 0;
    }
    .navbar {
        flex-direction: column;
        border-bottom: none;
        width: 300px;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 0;
        padding-bottom: 0;
        height: 60px;
    }
    .logo-bars {
        display: flex;
        align-items: center;
        height: 40px;
        width: 80%;
    }
    .logo-bars i {
        display: block;
        font-size: 1.6rem;
        color: gray;
    }
    .logo img {
        position: relative;
        left: 30px;
        width: 40px;
    }
    .fa-globe i {
        display: none;
    }
    .logo {
        border-bottom: 2px solid var(--main-light-grey-color);
    }
    .fa-caret-down {
        transform: rotate(-90deg);
    }
    .lang {
        display: none;
    }
    .lang-small {
        display: block;
        width: 150px;
        padding-right: 0;
    }
    .sub-links-products,
    .sub-links-support {
        visibility: hidden;
        left: 0px;
        height: 0;
    }
    .line {
        display: block;
        width: 260px;
        height: 1px;
        margin: 20px 0;
        background-color: var(--main-light-grey-color);
    }
    .product-link i,
    .support-link i {
        position: relative;
        left: 10px;
    }
    .lock-scroll {
        overflow: hidden;
    }
    .logo-bars button {
        background-color: transparent;
        border: none;
    }
    .logo-bars :focus .burger {
        color: black;
        cursor: pointer;
    }
    li {
        padding: 12px 16px 14px;
        list-style: none;
        border-bottom: 2px solid white;
    }
    li:hover {
        background-color: white;
        border-bottom: 2px solid white;
    }
    li:hover :last-child {
        transform: rotate(-90deg);
    }
}


/* Main style */


/* Fist section */

.first-section {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7rem;
}

.hero div {
    margin: 10px auto;
    color: #444444;
}

.learn-more-btn {
    font-size: 17px;
    font-weight: bold;
    padding: 4px 18px;
    margin-top: 20px;
    border: 1px solid #444444;
    transition: var(--main-transition);
}

.learn-more-btn:hover {
    color: white;
    background-color: #444444;
}

.hero-title-xps {
    font-size: 16px;
    font-weight: bold;
}

.hero-title {
    font-size: 29px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}

.hero-desc {
    font-size: 17px;
    width: 90%;
    text-align: center;
    font-weight: bold;
}

.hero-desc span {
    color: #007DB8;
}


/* Second section */

.computers-cat {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F9F9F9;
    height: 140px;
    position: relative;
    overflow: hidden;
    top: -5px;
    border-bottom: 1px solid var(--main-light-grey-color);
}

.computers-cat div {
    background-color: #F9F9F9;
    overflow: hidden;
}

.computers-cat i {
    font-size: 1.6rem;
}

.icon-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.label {
    margin-top: 32px;
    text-align: center;
}

.with-sub {
    position: relative;
    top: 40px;
}

div.with-sub {
    width: 140px;
    height: 160px;
    overflow: hidden;
    transition: var(--main-transition);
}

div.no-sub {
    width: 140px;
}

.borders {
    border-right: 1px solid #F9F9F9;
    border-left: 1px solid #F9F9F9;
}

.borders:hover {
    border-right: 1px solid var(--main-light-grey-color);
    border-left: 1px solid var(--main-light-grey-color);
}

.sub {
    position: relative;
    top: 10px;
    color: rgb(0, 162, 255);
}

.with-no-sub .label:hover {
    cursor: pointer;
    color: rgb(0, 162, 255);
}

.sub h4 {
    margin: 16px 0;
    cursor: pointer;
}

div.with-sub:hover {
    transform: translateY(-80px);
}

div.with-no-sub:hover {
    transform: translateY(0px);
}


/* Section 3 */

.third-section {
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.hero-3 {
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    left: 130px;
}

.hero-3 div {
    margin: 10px 0;
}

.hero-title-3 h2 {
    font-size: 16px;
    font-weight: bold;
}

.third-section img {
    width: 100%;
}

.hero-title-3 {
    font-size: 34px;
    color: #444;
}

.hero-desc-3 {
    font-size: 22px;
    line-height: 2rem;
    font-weight: bold;
    color: black;
    width: 90%;
}

.learn-more-btn-3 {
    font-size: 22px;
    color: #0076ce;
    position: relative;
    font-weight: bold;
    left: -7px;
}

.learn-more-btn-3 a {
    font-size: 22px;
}

.image-server {
    width: 80%;
}


/* Footer */

.footer-lg {
    background-color: #F0F0F0;
    padding: 1rem 6rem;
}

.footer-2,
.footer-3 {
    display: flex;
    padding: 0.5rem 1rem;
}

.footer-2 div,
.footer-3 div {
    color: rgb(82, 80, 80);
    margin: 0 15px;
    font-size: 13.5px;
    font-weight: 600;
}

.footer-2 div h3 {
    font-family: 'Readex Pro', sans-serif;
}

.curser div h3 {
    cursor: pointer;
    margin-bottom: 10px;
}

.footer-3 div {
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-layout div h3 {
    font-family: 'Readex Pro', sans-serif;
}

.grid-layout h3,
p {
    margin: 18px 0;
}

.footer-lg p {
    cursor: pointer;
}

.toggle {
    cursor: pointer;
}

.content {
    display: none;
}


/* Responsive Code ======================== */

@media screen and (max-width:1024px) {
    nav {
        width: 340px;
        height: 100vh;
        position: fixed;
        z-index: 1000;
        background-color: white;
        position: fixed;
        left: -100vw;
        transition: 0.3s;
    }
    .active {
        left: 0;
    }
    .fa-globe i {
        display: none;
    }
    .fa-caret-down {
        transform: rotate(-90deg);
    }
    .line {
        display: block;
        width: 260px;
        height: 1px;
        margin: 20px 0;
        background-color: var(--main-light-grey-color);
    }
    .lock-scroll {
        overflow: hidden;
    }
    li {
        padding: 12px 16px 14px;
        list-style: none;
        border-bottom: 2px solid white;
    }
    li:hover {
        background-color: white;
        border-bottom: 2px solid white;
    }
    li:hover :last-child {
        transform: rotate(-90deg);
    }
    .hero {
        margin-left: 1rem;
    }
}


/* First section responsive */

@media screen and (max-width:768px) {
    body {
        background-color: #F7F7F7;
    }
    .hero {
        margin: 0;
    }
    .first-section {
        flex-direction: column-reverse;
    }
    .computers-cat {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        height: 210px;
        margin: 10px;
        margin-top: 20px;
        background-color: white;
        -webkit-box-shadow: 0 2px 2px #002b5514, 0 4px 4px #002b5514, 0 8px 8px #002b5514;
        box-shadow: 0 2px 2px #002b5514, 0 4px 4px #002b5514, 0 8px 8px #002b5514;
        box-shadow: 0 2px 2px #002b5514, 0 4px 4px #002b5514, 0 8px 8px #002b5514;
    }
    .computers-cat div {
        background-color: white;
    }
    .borders {
        border-right: 0px;
        border-left: 0px;
    }
    .borders:hover {
        border-right: 0px;
        border-left: 0px;
    }
    .with-sub {
        height: 180px;
    }
    .footer {
        padding: 0;
    }
    .footer-lg {
        display: none;
        padding: 0;
    }
    .grid-layout {
        display: block;
    }
    .footer-2 {
        display: block;
    }
}

@media screen and (min-width:769px) {
    .footer {
        display: none;
    }
}


/* Third Section Responsive */

@media screen and (max-width:768px) {
    .third-section {
        flex-direction: column;
        box-shadow: 0 2px 2px #002b5514, 0 4px 4px #002b5514, 0 8px 8px #002b5514;
        box-shadow: 0 2px 2px #002b5514, 0 4px 4px #002b5514, 0 8px 8px #002b5514;
        width: auto;
        margin: 10px;
        justify-content: center;
        align-items: center;
        background-color: white;
    }
    .third-section img {
        width: 100%;
    }
    .hero-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 0;
        background-color: white;
    }
    .image {
        background-color: white;
    }
    .hero-title-3 {
        font-size: 20px;
    }
    .hero-desc-3 {
        font-size: 16px;
        text-align: center;
    }
    .learn-more-btn-3 {
        font-size: 16px;
    }
    .hero-3 div:last-child {
        margin-bottom: 35px;
    }
    .support-sec {
        margin-top: 10px;
    }
    .support-sec-sub div {
        margin: 20px auto;
    }
}


/* Forth Section Responsive */

@media screen and (min-width:768px) {
    .support-sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .forth-section {
        margin-top: 40px;
        width: 100%;
        background-color: #F9F9F9;
        padding: 15px 0;
    }
    .forth-section h2 {
        margin-bottom: 30px;
    }
    .forth-section a {
        font-size: 16px;
        font-weight: normal;
        padding-left: 10px;
        border-left: 2px solid rgb(119, 119, 119);
    }
    .forth-section .first-child {
        border-left: none;
    }
    .forth-section {
        margin-top: 15px;
        padding: 15px 0;
    }
    .forth-section div {
        margin: 15px 10px;
        margin-bottom: 28px;
    }
    .support-sec-sub {
        display: flex;
    }
}


/* Forth Section Responsive */

@media screen and (min-width:1140px) {
    .forth-section {
        margin-top: 80px;
        width: 100%;
        background-color: #F9F9F9;
        padding: 15px 0;
        padding-bottom: 40px;
    }
    .forth-section h2 {
        font-size: 32px;
        margin-bottom: 30px;
        margin-top: 10px;
        color: rgb(63, 63, 63);
    }
    .forth-section a {
        font-size: 21px;
        font-weight: bold;
        border-left: 1.5px solid rgb(119, 119, 119);
        padding: 10px 25px;
        margin-bottom: 30px;
        position: relative;
    }
    .forth-section .first-child {
        border-left: none;
    }
}


/* Fifth Section */

.hero-title-5 {
    margin: 10px;
}

.fifth-section {
    flex-direction: column-reverse;
}

@media screen and (min-width:1140px) {
    .fifth-section {
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: row;
        padding: 2rem 0;
    }
    .hero-5 {
        left: 80px;
    }
    .hero-desc-5 {
        width: 80%;
    }
    .hero-title-5 {
        font-size: 34px;
    }
}

@media screen and (max-width:1140px) {
    .hero-desc-3 {
        font-size: 17px;
    }
    .hero-title-3 {
        font-size: 29px;
    }
    .learn-more-btn-3 {
        font-size: 17px;
    }
    .hero-3 {
        left: 0;
    }
    .fifth-section {
        flex-direction: row;
    }
}

@media screen and (max-width:786px) {
    .fifth-section {
        flex-direction: column-reverse;
    }
    .hero-title-5 {
        text-align: center;
    }
}