@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Roboto:wght@100;300&display=swap');

/* Global style */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-light-grey-color: #dbdbdb;
    --main-dark-grey-color: #636363;
    --main-transition: 0.6s;
}


/* Header style */

a {
    text-decoration: none;
    color: var(--main-dark-color);
    font-size: 14px;
    margin: 0 4px;
}

li {
    padding: 12px 16px 14px;
    list-style: none;
    border-bottom: 2px solid white;
}

li:hover {
    background-color: rgb(252, 252, 252);
    border-bottom: 2px solid var(--main-dark-color);
}

li:hover :last-child {
    transform: rotate(180deg);
    transition: var(--main-transition);
}

#service {
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding: 12px 35px;
    padding-bottom: 5px;
}

.logo img {
    width: 5.2%;
}

.navbar {
    display: flex;
    align-items: baseline;
    padding: 0 10px;
    border-bottom: 2px solid var(--main-light-grey-color);
}

.product-sublinks,
.support-sublinks {
    position: relative;
    left: 20px;
    width: 240px;
}

.support-sublinks {
    left: 20px;
}

.sublinks {
    display: flex;
}

.show-sublinks {
    visibility: visible;
}

.hide-sublinks {
    display: none;
}

.language-select:hover {
    border-bottom: 2px solid white;
}

.sub-links-products,
.sub-links-support {
    display: none;
    padding-top: 10px;
    transition: var(--main-transition);
}

.sub-links-products {
    position: absolute;
    left: 15px;
    z-index: 1;
}

.sub-links-support {
    position: absolute;
    z-index: 1;
    left: 300px;
}

#service {}

.product-link:hover .sub-links-products {
    display: flex;
    flex-direction: column;
    transition: var(--main-transition);
    overflow: hidden;
}

.support-link:hover .sub-links-support {
    display: flex;
    flex-direction: column;
    transition: var(--main-transition);
    overflow: hidden;
}

.sub-links-products li:hover,
.sub-links-support li:hover {
    border-bottom: 0px;
}

.logo-bars i {
    display: none;
}

.lang-small {
    display: none;
}

.line {
    display: none;
}

@media screen and (max-width:1024px) {
    .navbar {
        flex-direction: column;
        border-bottom: none;
        width: 300px;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 0;
        padding-bottom: 0;
        height: 60px;
    }
    .logo-bars {
        display: flex;
        align-items: center;
        height: 40px;
        width: 80%;
    }
    .logo-bars i {
        display: block;
        font-size: 1.6rem;
        color: gray;
    }
    .logo img {
        position: relative;
        left: 30px;
        width: 40px;
    }
    .fa-globe i {
        display: none;
    }
    .logo {
        border-bottom: 2px solid var(--main-light-grey-color);
    }
    .fa-caret-down {
        transform: rotate(-90deg);
    }
    .lang {
        display: none;
    }
    .lang-small {
        display: block;
        width: 150px;
        padding-right: 0;
    }
    .sub-links-products,
    .sub-links-support {
        visibility: hidden;
        left: 0px;
        height: 0;
    }
    .line {
        display: block;
        width: 260px;
        height: 1px;
        margin: 20px 0;
        background-color: var(--main-light-grey-color);
    }
    .product-link i,
    .support-link i {
        position: relative;
        left: 140px;
    }
    li {
        padding: 12px 16px 14px;
        list-style: none;
        border-bottom: 2px solid white;
    }
    li:hover {
        background-color: white;
        border-bottom: 2px solid white;
    }
    li:hover :last-child {
        transform: rotate(-90deg);
    }
}


/* Main style */